@model IQueryable<Posts>

<div>


    @if (User.IsInRole("admin"))
    {
        <h2>Панель Администратора</h2>
        <div class="div-box">
            <p>
                <a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-id="">Список пользователей</a>
            </p>
        </div>
    }
    else
    {
        <h2>@User.Identity.Name </h2>
        <div class="div-box">
            <a asp-controller="Post" asp-action="Create" >Добавить запись</a>
        </div>
    }

    <div class="div-box">

        <form method="post" asp-controller="Account" asp-action="Logout">
            <p>
                <input type="submit" value="Выход" />
            </p>
        </form>
    </div>
</div>
