@model Posts

<div>

    <h2>@Model.Title</h2>

    <h3>@Html.Raw(Model.Text)</h3>
    <div>
        @if (Model.TitleImagePath != null)
        {
            <img src="~/images/@Model.TitleImagePath" width="500" height="300" />
        }
    </div>
    <hr />

    <p id="likes">
        @await Html.PartialAsync("~/Views/Like/AddLike.cshtml", new LikeModel
        {
            PostId = Model.PostId,
            UserId = ViewBag.UserId,
            LikeCount = Model.LikesCount,
            DislikeCount = Model.DislikesCount,
            CanLike = ViewBag.like,
            CanDislike = ViewBag.Dislike

        })
    </p>

    <h2>Комментарии:</h2>

    <div id="results">
        @await Html.PartialAsync("~/Views/Comment/PostComments.cshtml", Model.Comments)
    </div>
    

    @using (Html.AjaxBeginForm("PostComments", "Comment", new AjaxOptions { UpdateTargetId = "results", }))
    {

        <textarea aria-label="AddComm" class="txtarea" name="message" rows="4" cols="55"></textarea>
        <input type="hidden" name="PostId" value="@Model.PostId" />
        <p><input type="submit" value="Добавить комментарий"></p>
    }


</div>
