@model Posts

<div>

    <h2>@Model.Title</h2>
    <div>
        @if (Model.TitleImagePath != null)
        {
            <img src="~/images/@Model.TitleImagePath" width="700" height="500" />
        }

    </div>
    <h3>@Html.Raw(Model.Text)</h3>
    <hr />


    <h2>Комментарии</h2>

    <div id="results" >
        @await Html.PartialAsync("PostComments", Model.Comments)
    </div>

    <style type="text/css">
        textarea[name="mesage"] {
            resize: none;
        }
    </style>

    <div id="results"></div>
    @using (Html.AjaxBeginForm("PostComments", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <textarea name="mesage" rows="4" cols="55"></textarea>
        <input type="hidden" name="PostId" value="@ViewBag.PostId" />
        <p><input type="submit" value="Добавить комментарий"></p>
    }




</div>
