@model IQueryable<Posts>


<div>
    <h2>Записи</h2>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (Posts entity in Model)
            {
            <li>
                <a asp-controller="Post" asp-action="Show" asp-route-id="@entity.PostId">
                    <h4>Заголовок: @entity.Title </h4>
                </a>
                <h5>Опубликовал: @entity.Author</h5>

                <hr />
            </li>
            }
        </ul>
    }
    else
    {
        <h4>Нет записей</h4>
    }
</div>
